<div class="columns">
  <div class="column">
    <% if @over_ten %>
      <%= link_to 'Show Previous', '?m=all' %>
    <% end %>
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div class="item">
          <div class="column">
            <strong><%= user.name %></strong> <%= message.message_time %>
            <div><%= message.body %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="column">
    <div>
      <div>
        <%= form_for [@conversation, @message] do |f| %>
          <div class="control">
            <%= f.text_area :body, class: "textarea", placeholder: "Type message here..." %>
          </div>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
          <%= f.submit "Send", class: "button is-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>