<% provide(:title, "Edit profile") %>
<div class="LI_Body">
  <div class="LI_LoginForm">
  <h3>Update your profile</h3>
    <div class="LI_LoginInput">
      <%= form_for(@profile, url: profile_path(@profile)) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
      
        <div class="field" >
          <%= f.label :description, class: "label" %>
          <%= f.text_area :description, placeholder: "Describe yourself here...", class: "input"%>
        </div>
        
        <div class="field" >
          <%= f.label :games, class: "label" %>
          <%= f.text_area :games, placeholder: "Overwatch, Melee, etc...", class: "input"%>
        </div>
        
        <div class="field" >
          <%= f.label :accounts, class: "label" %>
          <%= f.text_area :accounts, placeholder: "Discord: MeowLord#8888, Steam: MeowLord, etc...", class: "input"%>
        </div>
      
        <div class="field">
          <%= f.submit 'Save changes', class: "button is-primary", style: "width: 100%" %>
        </div>
        
      <% end %>
  
      <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
      </div>
    </div>
  </div>
</div>

<style>
.input {
  height: 10vh;
}
</style>