<% provide(:title, "Log in") %>
<div class="LI_LoginForm">
<h3>Log in</h3>
  <div class="LI_LoginInput">

    <%= form_for(:session, url: login_path) do |f| %>

      <div class="field">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, class: 'input' %>
      </div>

      <div class="field">
        <%= f.label :password, class: "label" %>
        <%= f.password_field :password, class: 'input' %>
      </div>

      <div class="field">
        <%= f.label :remember_me, class: "checkbox" do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
        <% end %>
      </div>

      <div class="field">
        <%= f.submit "Log in", class: "button is-success", style: "width: 100%" %>
      </div>

    <% end %>

    <div class="field">
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>

  </div>
</div>