<div class="columns is-multiline">
  <% @conversations.each do |conversation| %>
    <% if (conversation.send_id == current_user.id || conversation.recv_id == current_user.id) && conversation.mutual %>
      <div class="column is-3">
          <% if conversation.send_id == current_user.id %>
            <% recipient = User.find(conversation.recv_id) %>
          <% else %>
            <% recipient = User.find(conversation.send_id) %>
          <% end %>
  
          <div class="card-container">
            <div id="<%= recipient.id %>" class="card">
              <div class="front">
                <div>
                  <%= gravatar_for recipient, size: 512 %>
                </div>
                <div class="card-content">
                  <div class="content">
                    <p class="title is-6" >
                      <%= link_to recipient.name, recipient.profile %>
                    </p>
                    <div class="has-text-centered" style="margin-top: 1rem;">
                    <%= link_to 'Message', conversation_messages_path(conversation), class: "flip-button" %>
                    </div>
                    <div class="has-text-centered" style="margin-top: 1rem;">
                      <button class="flip-button" onclick="flip(<%= recipient.id %>)">
                        Details
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="back">
                <div class="back-container">
                  <div>
                    <p class="is-size-4 has-text-primary">Description</p>
                    <% if recipient.profile.description.blank? %>
                      <p>No description available</p>
                    <% else %>
                      <p><%= recipient.profile.description %></p>
                    <% end %>
                  </div>
                  <div>
                    <p class="is-size-4 has-text-primary">Games Played</p>
                    <% if recipient.profile.games.blank? %>
                      <p>No games played listed</p>
                    <% else %>
                      <p><%= recipient.profile.games %></p>
                    <% end %>
                  </div>
                  <div>
                    <p class="is-size-4 has-text-primary">Accounts</p>
                    <% if recipient.profile.accounts.blank? %>
                      <p>No accounts listed</p>
                    <% else %>
                      <p><%= recipient.profile.accounts %></p>
                    <% end %>
                  </div>
                  <div class="has-text-centered" >
                    <button class="flip-button" onclick="flip(<%= recipient.id %>)">Back</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
  
      </div>
    <% end %>
  <% end %>
</div>
<script>
  function flip(id) {
    $(`#${id}`).toggleClass("flipped");
  };
</script>