<div class="columns is-multiline">
  <% @conversations.each do |conversation| %>
    <% if (conversation.send_id == current_user.id || conversation.recv_id == current_user.id) && conversation.mutual %>
      <div class="column is-3">
          <% if conversation.send_id == current_user.id %>
            <% recipient = User.find(conversation.recv_id) %>
          <% else %>
            <% recipient = User.find(conversation.send_id) %>
          <% end %>
  
          <div class="card-container">
            <div id="<%= recipient.id %>" class="card">
              <div class="front">
                <div>
                  <%= gravatar_for recipient, size: 512 %>
                </div>
                <div class="card-content">
                  <div class="content">
                    <p class="title is-6" >
                      <%= link_to recipient.name, recipient.profile %>
                    </p>
                    <%= link_to 'Message', conversation_messages_path(conversation) %>
                    <button onclick="flip(<%= recipient.id %>)">Details</button>
                  </div>
                </div>
              </div>
              <div class="back">
                <button onclick="flip(<%= recipient.id %>)">Back</button>
                <div>
                  <h5>Description</h5>
                  <p><%= recipient.profile.description %></p>
                </div>
                <div>
                  <h5>Games Played</h5>
                  <p><%= recipient.profile.games %></p>
                </div>
                <div>
                  <h5>Accounts</h5>
                  <p><%= recipient.profile.accounts %></p>
                </div>
              </div>
            </div>
          </div>
          
  
      </div>
    <% end %>
  <% end %>
</div>
<script>
  function flip(id) {
    $(`#${id}`).toggleClass("flipped");
  };
</script>