<div class="LI_SideNav">
      <div class="LI_SideNavHeader">
        <!-- <div class="LI_SideNavHeaderTitle"><%= @user.name %>'s Profile</div> -->
      </div>
        <div class="LI_TabContent">
          <div id="Matches" class="tabcontent">
            <%= render 'layouts/matches' %>
          </div>
          <div id="Events" class="tabcontent">
            <%= render 'layouts/events' %>
          </div>
        <div id="Messages" class="tabcontent">
            <%= render 'layouts/messages' %>
        </div>
        <div id="SwipeCards" class="tabcontent">
            <%= render 'layouts/gamercard' %>
        </div>
    </div>
</div>