<%= form_for Event.new do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div>
    <div class="field">
      <%= f.label :name, class: "label" %>
      <%= f.text_field :name, class: 'input', placeholder: "Name" %>
    </div>

    <div class="field">
      <%= f.label :date, class: "label" %>
      <%= f.date_field :date, class: 'input', placeholder: "Date" %>
    </div>

    <div class="field">
      <%= f.label :time, class: "label" %>
      <%= f.time_field :time, class: 'input', placeholder: "Time" %>
    </div>

    <div class="field">
      <%= f.label :description, class: "label" %>
      <%= f.text_field :description, class: 'input', placeholder: "Description" %>
    </div>
    <div class ="field">
      <% cur_user = current_user %>
      <%= f.label "invite friends", class: "label" %>
      <% @conversations.each do |conversation| %>
            <% if conversation.send_id == cur_user.id %>
              <% recipient = conversation.recipient_name_email_only %>
            <% else %>
              <% recipient = conversation.sender_name_email_only %>
            <% end %>
            <li class="LI_List">
              <label class="check-container">
                <%= gravatar_for recipient, size: 40 %>
                <%= h recipient.name -%>
                <%= check_box_tag 'user_ids[]', recipient.id -%>
                <span class="checkmark"></span>
              </label>
            </li>
      <% end %>
    </div>
    <div class="field">
      <p class="control has-text-centered">
        <%= f.submit 'Create Event', class: "button is-primary", style: "width: 100%" %>
      </p>
    </div>
   
  </div>
  
<% end %>