 <%= javascript_tag do %>
      window.currUser = <%= @user.id %>;
<% end %>
<div class="LI_GamerCardContainer">
  <div class="demo__card-cont">
   
  <% @userlist.each do |newuser| %>
    <div class="demo__card" topID="<%= newuser.id %>">
      <div class="demo__card__top blue">
        <div class="demo__card__img"></div>
        <h3><%= newuser.name %></h3>
      </div>
      <div class="demo__card__btm">
        <p class="demo__card__we"><%= newuser.email %></p>
      </div>
      <div class="demo__card__choice m--reject"></div>
      <div class="demo__card__choice m--like"></div>
      <div class="demo__card__drag"></div>
    </div>
    <% end %>
  </div>

  <div class="LI_GamerCardActionButtonContainer">
    <button class="LI_GamerActionButton">
      <i class="fas fa-times fa-2x secondary"></i>
    </button>
    <button class="LI_GamerActionButton">
      <i class="fas fa-heart fa-2x primary"></i>
    </button>
  </div>
</div>