<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  <%= render 'layouts/header' %>
  <div>
    <div class="container">
      <%= yield %>
      <% unless logged_in? %>
        <%= render 'layouts/footer' %>
      <% end %>
    </div>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "notification is-#{message_type}", style: "position: absolute; bottom: 1rem; left: 1rem;") %>
    <% end %>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".notification" ).fadeToggle(3000);
    });
  </script>
</body>
</html>